*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  nav {
    background: #333;
    color: #fff;
    padding: 20px;
    /* display: flex; */
  
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  nav img{
    width:13%;
    border-radius: 63px;
    
    /* margin-top : 50px;  */


}
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .hero {
    background: #f5f5f5;
    padding: 100px 0;
    text-align: center;
  }
  
  .hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .btn {
    display: inline-block;
  }
  .featured-products{
    text-align: center;
    font-family: cursive;
    margin-top: 20px;
  }
  .text{
    /* border: 2px solid rgb(14, 1, 1); */
    display: flex;
    flex-direction: row;
    margin: 20px;
    height: 400px;
    width: 100%;
   
  }
  .product{
    /* border: 2px solid red; */
    margin: 20px 30px;
    padding: 20px;
    background-color:#f5f5f5 ;
  }
  .btn{
    color: solid black;
    text-align:  center;
    margin-left: 141px;
    text-decoration: none;
    margin-top: 17px;
    
  }
  .shop{
    text-align: center;
    text-decoration: none;
  }
  a:hover
  {
    border-radius: 6px;
    
  color: #ffffff;
  background-color: rgb(68, 66, 66);
  }
  .last{
    text-align: center;
    color: solid black;
  }
  .head{
    font-family: cursive;
    /* color:#333;
    background-color:rgb(116, 167, 167); */
  }
  .head img {
    border-radius: 100px;
  }
  .product .head img :hover{
    color: rgb(116, 167, 167);
    cursor: pointer;
   }

    /*drop downmenu*/
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 50%;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropbtn{
  height: 40px;
  width: 60px;
  border-radius: 10px;
}
.dropdown  button:hover{
  /* background-color: rgb(50, 34, 34); */
  width: 156px;
}
/* Media query for small screens */
@media screen and (max-width: 600px) {
  .dropdown-content a {
    padding: 8px 12px;
  }
}

/* Media query for medium screens */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .dropdown-content {
    min-width: 220px;
  }
}

/* Media query for large screens */
@media screen and (min-width: 1025px) {
  .dropdown:hover .dropdown-content {
    display: block;
  }
}